@Scripts.Render("~/Scripts/DrawJS.js")


<h2>Canvas JS web test</h2>

<hr />

<label>Nacrtajte broj :)</label>
<div id="canvasDiv">
</div>

<label>Obrađena slika za neronsku mrežu: </label>

<div class="row">
    <div class="col-lg-6">
        <canvas id="pictureCanvas" width="150" height="150" style="border:2px solid black; margin:10px;"></canvas>
    </div>
</div>

<hr />

<div class="btn-group" style="width:800px">
    <button id="btnClear" style="width:120px; margin:10px" class="btn btn-default" type="button">Clear</button>
    <button id="btnSave" style="width:120px; margin:10px" class="btn btn-default" type="button">Save picture</button>    
</div>

<hr />

<h4>Rezultati:</h4>
<table class="table table-striped">
    <thead>
        <tr>
            <th>Predviđanje</th>            
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><label id="prvi"></label></td>
            <td><label id="drugi"></label></td>
            <td><label id="treci"></label></td>
        </tr>
    </tbody>
</table>
<hr />
<br />





